.modal {
  z-index: 1050;
}

.modal-backdrop {
  z-index: 1040;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal.show {
  display: block !important;
}

.modal-backdrop.show {
  opacity: 1;
}

/* Animación de entrada */
.modal.fade {
  transition: opacity 0.15s linear;
}

.modal.fade:not(.show) {
  opacity: 0;
}

.modal-backdrop.fade {
  transition: opacity 0.15s linear;
}

.modal-backdrop.fade:not(.show) {
  opacity: 0;
}

